<h1>About</h1>

<div>
  <img src="/assets/me.jpg" width="20%"/>
</div>
<div>
<p>Hi, my name is Bryan.</p>

<p>
I'm a student at CodeCore Bootcamp in Vancouver, British Columbia.
I am learning a lot of ways to build a web presence using established
and new technology. I plan to continue learning more even after
graduation and hope to be of service to your company's needs.
</p>
</div>
